Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

feat: update codelyzer and add rules
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/application/files/tslint.json
Owners: none

feat(@schematics/angular): remove deprecated http package
  packages/schematics/angular/application/files/package.json
Owners: none

refactor(@angular-devkit/schematics): make filesystem tree get/read/branch lazy
  packages/angular_devkit/schematics/src/tree/filesystem.ts
  packages/angular_devkit/schematics/src/tree/memory-host.ts
  packages/angular_devkit/schematics/src/tree/node-host.ts
  packages/angular_devkit/schematics/tools/file-system-host.ts
Owners: none

refactor(@angular-devkit/build-optimizer): skip search for empty pure import list
  packages/angular_devkit/build_optimizer/src/purify/purify.ts
Owners: none

feat(@schematics/angular): service worker project generation
  packages/schematics/angular/application/files/__path__/ngsw-config.json
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/other-files/app.module.ts
  packages/schematics/angular/application/schema.d.ts
  packages/schematics/angular/application/schema.json
Owners: none

feat(@angular-devkit/build-optimizer): make decorator removal configurable
  packages/angular_devkit/build_optimizer/src/build-optimizer/build-optimizer.ts
  packages/angular_devkit/build_optimizer/src/build-optimizer/build-optimizer_spec.ts
  packages/angular_devkit/build_optimizer/src/build-optimizer/webpack-loader.ts
Owners: none

fix(@schematics/angular): ignore system files in service worker
  packages/schematics/angular/application/files/__path__/ngsw-config.json
Owners: none

fix(@schematics/angular): include fonts in service worker
  packages/schematics/angular/application/files/__path__/ngsw-config.json
Owners: none

fix(@schematics/angular): add app config for service worker
  packages/schematics/angular/application/files/__dot__angular-cli.json
Owners: none

fix(@schematics/angular): Correct imports of ViewEncapsulation
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
Owners: none

fix(@schematics/angular): added alt tag to img
  packages/schematics/angular/application/other-files/app.component.html
Owners: none

fix(@schematics/angular): set tslint to emit warnings
  packages/schematics/angular/application/files/tslint.json
Owners: none

fix(@schematics/angular): Update default encapsulation value.
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/component/schema.json
  tests/@angular_devkit/build_optimizer/webpack/simple-app/src/app/app.component.ts
Owners: none

fix(@schematics/angular): Upgrade codelyzer (for ng5) to 4.0.0
  packages/schematics/angular/application/files/package.json
Owners: none

fix(@schematics/angular): update codelyzer to 4.0.1
  packages/schematics/angular/application/files/package.json
Owners: none

fix(@schematics/angular): update lint tools for Angular 5
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/application/files/tslint.json
Owners: none

fix(@schematics/angular): Remove dep @angular/http
  packages/schematics/angular/application/files/package.json
Owners: none

fix(@schematics/angular): Remove default ViewEncapsulation logic
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/component/schema.json
Owners: none

fix(@angular-devkit/build-optimizer): allow optimization of IIFE bundles
  packages/angular_devkit/build_optimizer/src/transforms/scrub-file.ts
  packages/angular_devkit/build_optimizer/src/transforms/scrub-file_spec.ts
Owners: none

fix(@schematics/angular): remove Intl polyfill
  packages/schematics/angular/application/files/__path__/polyfills.ts
Owners: none

feat(@schematics/angular): custom suffix for component generation
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.__suffix@dasherize__.__styleext__
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.__suffix@dasherize__.html
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.__suffix@dasherize__.spec.ts
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.__suffix@dasherize__.ts
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.__styleext__
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/component/schema.d.ts
  packages/schematics/angular/component/schema.json
Owners: none

fix(@schematics/angular): Correct positioning of imports
  packages/schematics/angular/utility/route-utils.ts
Owners: none

remove extra whitespace
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
Owners: none

removing extra whitespace
  packages/schematics/angular/class/files/__path__/__name@dasherize____type__.ts
  packages/schematics/angular/directive/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.directive.ts
  packages/schematics/angular/enum/files/__path__/__name@dasherize__.enum.ts
  packages/schematics/angular/interface/files/__path__/__name@dasherize____type__.ts
  packages/schematics/angular/pipe/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.pipe.ts
  packages/schematics/angular/service/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.service.ts
Owners: none

spacing
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
Owners: none

spacing
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
Owners: none

refactor(@schematics/angular): Removing Whitespace from Angular default schematics
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
Owners: none

refactor(@schematics/angular): Removing Whitespace from Angular default schematics
  packages/schematics/angular/class/files/__path__/__name@dasherize____type__.ts
  packages/schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.ts
  packages/schematics/angular/directive/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.directive.ts
  packages/schematics/angular/enum/files/__path__/__name@dasherize__.enum.ts
  packages/schematics/angular/interface/files/__path__/__name@dasherize____type__.ts
  packages/schematics/angular/pipe/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.pipe.ts
  packages/schematics/angular/service/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.service.ts
Owners: none

feat(@angular-devkit/schematics): move default collection to @schematics/schematics
  packages/angular_devkit/schematics/bin/schematics.ts
Owners: none

feat(@schematics/schematics): add a blank schematics
  packages/schematics/schematics/blank/factory.ts
  packages/schematics/schematics/blank/project-files/README.md
  packages/schematics/schematics/blank/project-files/__dot__gitignore
  packages/schematics/schematics/blank/project-files/package.json
  packages/schematics/schematics/blank/project-files/src/collection.json
  packages/schematics/schematics/blank/project-files/tsconfig.json
  packages/schematics/schematics/blank/schema.d.ts
  packages/schematics/schematics/blank/schema.json
  packages/schematics/schematics/blank/schematic-files/src/__name@dasherize__/index.ts
  packages/schematics/schematics/blank/schematic-files/src/__name@dasherize__/index_spec.ts
  packages/schematics/schematics/collection.json
Owners: @hansl

build: allow any -files to be template dirs
  scripts/build.ts
Owners: @hansl

feat(@schematics/angular): Add universal schematic
  packages/schematics/angular/collection.json
  packages/schematics/angular/universal/files/__sourceDir__/__appDir__/__rootModuleFileName__
  packages/schematics/angular/universal/files/__sourceDir__/__main@stripTsExtension__.ts
  packages/schematics/angular/universal/files/__sourceDir__/__tsconfigFileName__.json
  packages/schematics/angular/universal/index.ts
  packages/schematics/angular/universal/index_spec.ts
  packages/schematics/angular/universal/schema.d.ts
  packages/schematics/angular/universal/schema.json
  packages/schematics/angular/utility/ast-utils.ts
  packages/schematics/angular/utility/config.ts
  packages/schematics/angular/utility/ng-ast-utils.ts
Owners: @hansl, @Brocco

feat(@schematics/angular): update codelyzer
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/application/files/tslint.json
Owners: none

feat(@schematics/angular): Add appShell schematic
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/app-shell/schema.d.ts
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/collection.json
  packages/schematics/angular/universal/index.ts
  packages/schematics/angular/universal/index_spec.ts
  packages/schematics/angular/utility/ast-utils.ts
  packages/schematics/angular/utility/ast-utils_spec.ts
  packages/schematics/angular/utility/config.ts
  packages/schematics/angular/utility/ng-ast-utils.ts
Owners: @hansl, @Brocco

fix(@schematics/angular): Update new app component template for linting rules
  packages/schematics/angular/application/other-files/app.component.html
Owners: none

fix(@schematics/angular): revert breaking angular-whitespace new lint rule
  packages/schematics/angular/application/files/tslint.json
Owners: none

fix(@schematics/angular): typos in universal schema
  packages/schematics/angular/app-shell/schema.d.ts
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/universal/schema.d.ts
  packages/schematics/angular/universal/schema.json
Owners: none

refactor(@angular-devkit/build-optimizer): use TS2.6 and remove old helpers
  packages/angular_devkit/build_optimizer/package.json
  packages/angular_devkit/build_optimizer/src/transforms/prefix-classes.ts
  packages/angular_devkit/build_optimizer/src/transforms/wrap-enums.ts
Owners: @filipesilva

refactor(@angular-devkit/build-optimizer): leverage TS2.6 in tslib pass
  packages/angular_devkit/build_optimizer/src/transforms/import-tslib.ts
Owners: none

test(@angular-devkit/build-optimizer): update comments for TS2.6
  packages/angular_devkit/build_optimizer/src/transforms/prefix-classes_spec.ts
  packages/angular_devkit/build_optimizer/src/transforms/wrap-enums_spec.ts
Owners: none

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl
