Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl

manifest display standalone
  packages/angular/pwa/pwa/files/assets/manifest.json
Owners: none

fix(@schematics/angular): Make manifest.json correct and consistent
  packages/angular/pwa/pwa/files/assets/manifest.json
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
Owners: none

feat(@schematics/angular): update ng-packagr 3.0.0-rc.2
  package-lock.json
  package.json
  packages/angular_devkit/build_ng_packagr/src/build/index_spec_large.ts
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Owners: none

fix(@angular-devkit/build-angular): hash files as binary
  packages/angular_devkit/build_angular/src/angular-cli-files/utilities/service-worker/index.ts
  packages/angular_devkit/build_angular/test/browser/service-worker_spec_large.ts
Owners: none

feat(@angular-devkit/build-angular): support string shorthand for assets
  packages/angular_devkit/build_angular/src/angular-cli-files/models/build-options.ts
  packages/angular_devkit/build_angular/src/angular-cli-files/models/webpack-configs/common.ts
  packages/angular_devkit/build_angular/src/browser/index.ts
  packages/angular_devkit/build_angular/src/browser/schema.d.ts
  packages/angular_devkit/build_angular/src/browser/schema.json
  packages/angular_devkit/build_angular/src/dev-server/index.ts
  packages/angular_devkit/build_angular/src/extract-i18n/index.ts
  packages/angular_devkit/build_angular/src/karma/index.ts
  packages/angular_devkit/build_angular/src/karma/schema.json
  packages/angular_devkit/build_angular/src/utils/index.ts
  packages/angular_devkit/build_angular/src/utils/normalize-asset-patterns.ts
  packages/angular_devkit/build_angular/test/browser/assets_spec_large.ts
  packages/angular_devkit/build_angular/test/karma/assets_spec_large.ts
  packages/angular_devkit/build_angular/test/karma/code-coverage_spec_large.ts
  tests/@angular_devkit/build_angular/hello-world-app/.angular.json
Owners: none

fix(@schematics/angular): use string assets when updating
  packages/schematics/angular/migrations/update-6/index.ts
  packages/schematics/angular/migrations/update-6/index_spec.ts
Owners: none

fix(@angular-devkit/schematics): use correct command on yarn
  packages/angular_devkit/schematics/tasks/node-package/executor.ts
Owners: none

test: limit ng-packagr works test to linux
  packages/angular_devkit/build_ng_packagr/src/build/index_spec_large.ts
Owners: none

refactor(@angular-devkit/build-angular): cleanup index processing
  packages/angular_devkit/build_angular/src/angular-cli-files/models/webpack-configs/browser.ts
  packages/angular_devkit/build_angular/src/angular-cli-files/plugins/index-html-webpack-plugin.ts
  packages/angular_devkit/build_angular/test/browser/subresource-integrity_spec_large.ts
Owners: none

fix(@angular-devkit/schematics): remove unused dependency
  packages/angular_devkit/schematics/package.json
Owners: @hansl

build: use rxjs 6 final
  packages/angular_devkit/architect/package.json
  packages/angular_devkit/architect/test/package.json
  packages/angular_devkit/architect_cli/package.json
  packages/angular_devkit/build_angular/package.json
  packages/angular_devkit/build_ng_packagr/package.json
  packages/angular_devkit/core/package.json
  packages/angular_devkit/schematics/package.json
  packages/angular_devkit/schematics_cli/package.json
  packages/schematics/package_update/package.json
  packages/schematics/update/package.json
  tests/@angular_devkit/build_angular/hello-world-app/package.json
Owners: @hansl

fix(@schematics/angular): use join for sourceRoot
  packages/schematics/angular/application/index.ts
Owners: none

feat(@schematics/angular): use the client root as a better default for universal schematic
  packages/schematics/angular/universal/index.ts
  packages/schematics/angular/universal/index_spec.ts
  packages/schematics/angular/universal/schema.json
Owners: none

fix(@angular-devkit/build-webpack-nodejs): enabled circular ref checks with correct flag
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/common.ts
Owners: none

fix(@angular-devkit/build-webpack-nodejs): correctly resolve tsconfig
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/read-tsconfig.ts
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/require-project-module.ts
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/stats.ts
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/utils.ts
Owners: none

feat(@angular-devkit/build-webpack-nodejs): log out unbundled modules
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/prod.ts
Owners: none

feat(@angular-devkit/build-webpack-nodejs): add package
  .monorepo.json
  README.md
  package.json
  packages/angular_devkit/build_angular/src/angular-cli-files/plugins/postcss-cli-resources.ts
  packages/angular_devkit/build_angular/src/angular-cli-files/plugins/scripts-webpack-plugin.ts
  packages/angular_devkit/build_angular/src/utils/run-module-as-observable-fork.ts
  packages/angular_devkit/build_webpack_nodejs/README.md
  packages/angular_devkit/build_webpack_nodejs/builders.json
  packages/angular_devkit/build_webpack_nodejs/package.json
  packages/angular_devkit/build_webpack_nodejs/src/binary/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/binary/index_spec.ts
  packages/angular_devkit/build_webpack_nodejs/src/binary/schema.json
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/build/index_spec.ts
  packages/angular_devkit/build_webpack_nodejs/src/build/schema.json
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/stats.ts
  packages/angular_devkit/build_webpack_nodejs/src/copy-pasted-files/utils.ts
  packages/angular_devkit/build_webpack_nodejs/src/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/utils/make-outfile-name.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/common.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/config.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/dev.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/prod.ts
  tests/@angular_devkit/build_webpack_nodejs/hello-world-app/angular.json
  tests/@angular_devkit/build_webpack_nodejs/hello-world-app/projects/app1/src/main.ts
  tests/@angular_devkit/build_webpack_nodejs/hello-world-app/tsconfig.json
  yarn.lock
Owners: none

feat(@angular-devkit/build-webpack-nodejs): add raw loader for txt files
  packages/angular_devkit/build_webpack_nodejs/src/webpack/common.ts
Owners: none

feat(@angular-devkit/build-webpack-nodejs): add hmr support
  packages/angular_devkit/build_webpack_nodejs/src/binary/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/build/schema.json
  packages/angular_devkit/build_webpack_nodejs/src/webpack/common.ts
  packages/angular_devkit/build_webpack_nodejs/src/webpack/dev.ts
Owners: none

feat(@angular-devkit/build-webpack-nodejs): add pathReplacements
  packages/angular_devkit/build_webpack_nodejs/src/build/index.ts
  packages/angular_devkit/build_webpack_nodejs/src/build/schema.json
Owners: none

feat(@angular-devkit/build-webpack-nodejs): use fork checker to improve build times
  package.json
  packages/angular_devkit/build_webpack_nodejs/package.json
  packages/angular_devkit/build_webpack_nodejs/src/webpack/common.ts
  yarn.lock
Owners: none

fix(@angular-devkit/build-webpack-nodejs): work around rxjs
  package.json
  packages/angular_devkit/build_optimizer/src/purify/webpack-plugin.ts
  packages/angular_devkit/build_webpack_nodejs/src/binary/index.ts
  yarn.lock
Owners: none

fix(@schematics/angular): use asset strings in new application
  packages/schematics/angular/application/index.ts
  tests/@angular_devkit/build_angular/hello-world-app/.angular.json
Owners: none

fix(@angular/pwa): use default project
  packages/angular/pwa/pwa/index.ts
  packages/angular/pwa/pwa/schema.d.ts
  packages/angular/pwa/pwa/schema.json
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/schema.d.ts
  packages/schematics/angular/service-worker/schema.json
Owners: none

fix(@schematics/angular): if no property set on cli config dont migrate it
  packages/schematics/angular/migrations/update-6/index.ts
Owners: none

fix(@schematics/angular): update script now migrate warnings settings
  packages/schematics/angular/migrations/update-6/index.ts
Owners: none

fix(@angular/pwa): move manifest and commands where they belong
  packages/angular/pwa/pwa/files/root/manifest.json
  packages/angular/pwa/pwa/index.ts
  packages/angular/pwa/pwa/index_spec.ts
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
Owners: none

fix(@schematics/angular): update animations polyfill instructions
  packages/schematics/angular/application/files/src/polyfills.ts
Owners: none

fix(@angular-devkit/build-angular): build with empty assets array
  packages/angular_devkit/build_angular/src/utils/normalize-asset-patterns.ts
  packages/angular_devkit/build_angular/test/browser/assets_spec_large.ts
Owners: none

fix(@schematics/update): fix major of angular compat with major + 1
  packages/schematics/update/update/index.ts
  packages/schematics/update/update/index_spec.ts
  tests/schematics/update/packages/update-peer-dependencies-angular-5-2/package.json
Owners: none

fix(@schematics/angular): use the JSON AST for changing JSON files in migration
  packages/schematics/angular/migrations/update-6/index.ts
  packages/schematics/angular/migrations/update-6/index_spec.ts
  packages/schematics/angular/migrations/update-6/json-utils.ts
Owners: none

fix(@angular-devkit/schematics): support yarn package installs
  packages/angular_devkit/schematics/tasks/node-package/executor.ts
Owners: none

fix(@schematics/angular): do not assume initial license
  packages/schematics/angular/workspace/files/package.json
Owners: none

fix(@schematics/angular): fix code coverage path
  packages/schematics/angular/application/files/lint/__tsLintRoot__/tslint.json
  packages/schematics/angular/application/files/root/karma.conf.js
  packages/schematics/angular/application/files/root/tsconfig.app.json
  packages/schematics/angular/application/files/root/tsconfig.spec.json
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/library/files/__projectRoot__/karma.conf.js
  packages/schematics/angular/library/files/__projectRoot__/tsconfig.lib.json
  packages/schematics/angular/library/files/__projectRoot__/tsconfig.spec.json
  packages/schematics/angular/library/files/__projectRoot__/tslint.json
  packages/schematics/angular/library/index.ts
Owners: none

fix(@angular-devkit/build-angular): error out using karma plugin outside of Angular CLI
  packages/angular_devkit/build_angular/src/angular-cli-files/plugins/karma.ts
Owners: none

fix(@schematics/angular): Remove module option from guard schematic
  packages/schematics/angular/guard/index.ts
  packages/schematics/angular/guard/index_spec.ts
  packages/schematics/angular/guard/schema.d.ts
  packages/schematics/angular/guard/schema.json
Owners: none

fix(@schematics/angular): set defaultProject on update
  packages/schematics/angular/migrations/update-6/index.ts
  packages/schematics/angular/migrations/update-6/index_spec.ts
Owners: none

refactor: Move ng add @angular/pwa logic to main collection
  packages/angular/pwa/collection.json
  packages/angular/pwa/utility/config.ts
  packages/schematics/angular/collection.json
  packages/schematics/angular/pwa/files/assets/icons/icon-128x128.png
  packages/schematics/angular/pwa/files/assets/icons/icon-144x144.png
  packages/schematics/angular/pwa/files/assets/icons/icon-152x152.png
  packages/schematics/angular/pwa/files/assets/icons/icon-192x192.png
  packages/schematics/angular/pwa/files/assets/icons/icon-384x384.png
  packages/schematics/angular/pwa/files/assets/icons/icon-512x512.png
  packages/schematics/angular/pwa/files/assets/icons/icon-72x72.png
  packages/schematics/angular/pwa/files/assets/icons/icon-96x96.png
  packages/schematics/angular/pwa/files/root/manifest.json
  packages/schematics/angular/pwa/index.ts
  packages/schematics/angular/pwa/index_spec.ts
  packages/schematics/angular/pwa/schema.d.ts
  packages/schematics/angular/pwa/schema.json
Owners: @hansl, @Brocco

fix(@ngtools/webpack): allow TS 2.4 as peerDep
  packages/ngtools/webpack/package.json
Owners: none
