Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

refactor(@angular-devkit/schematics): use specialized exception classes
  packages/angular_devkit/schematics/src/engine/task.ts
  packages/angular_devkit/schematics/tasks/node-package/executor.ts
Owners: none

feat(@angular-devkit/schematics): add repo init task
  packages/angular_devkit/schematics/tasks/index.ts
  packages/angular_devkit/schematics/tasks/node/index.ts
  packages/angular_devkit/schematics/tasks/repo-init/executor.ts
  packages/angular_devkit/schematics/tasks/repo-init/init-task.ts
  packages/angular_devkit/schematics/tasks/repo-init/options.ts
Owners: none

feat(@angular-devkit/schematics-cli): register node package and repo init tasks
  packages/angular_devkit/schematics_cli/BUILD
  packages/angular_devkit/schematics_cli/bin/schematics.ts
Owners: none

feat(@angular-devkit/schematics): add task scheduling infrastructure
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics/src/engine/engine.ts
  packages/angular_devkit/schematics/src/engine/interface.ts
  packages/angular_devkit/schematics/src/engine/task.ts
  packages/angular_devkit/schematics/src/index.ts
  packages/angular_devkit/schematics/tools/fallback-engine-host.ts
  packages/angular_devkit/schematics/tools/file-system-engine-host-base.ts
  packages/angular_devkit/schematics_cli/bin/schematics.ts
  tsconfig.json
Owners: @hansl

fix(@angular-devkit/build-optimizer): limit actions on webpack bundles
  packages/angular_devkit/build_optimizer/src/build-optimizer/build-optimizer.ts
  packages/angular_devkit/build_optimizer/src/transforms/import-tslib.ts
Owners: none

feat(@schematics/angular): add zone.js flags which can disable some patch
  packages/schematics/angular/application/files/__sourcedir__/polyfills.ts
Owners: none

feat(@schematics/angular): add a zone.js flag for IE/Edge to prevent error or performance impact
  packages/schematics/angular/application/files/__sourcedir__/polyfills.ts
Owners: none

feat(@schematics/angular): allow CLI patch release on new application
  packages/schematics/angular/application/files/package.json
Owners: none

style: Add tslint rule to prevent using non-pipeable imports
  packages/angular_devkit/schematics/src/sink/filesystem.ts
  tslint.json
Owners: none

feat(@schematics/angular): add zone-error import in polyfill
  packages/schematics/angular/application/files/__sourcedir__/environments/environment.ts
Owners: none

build: when typescript fails, now show the diagnostics
  scripts/build.ts
Owners: @hansl

ci: add snapshots scripts
  .monorepo.json
  lib/packages.ts
  scripts/build.ts
  scripts/publish.ts
  scripts/snapshots.ts
Owners: @hansl

ci: add snapshots to CircleCI
  .circleci/config.yml
  .circleci/github_token
  scripts/snapshots.ts
Owners: @hansl

build: add Buildifier (BUILD file formatter)
  .circleci/config.yml
  WORKSPACE
  package.json
Owners: none

style: Reformat BUILD files
  BUILD
  packages/angular_devkit/core/BUILD
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics_cli/BUILD
Owners: @hansl

refactor: Add readContent method to UnitTestTree
  packages/angular_devkit/schematics/testing/schematic-test-runner.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/universal/index_spec.ts
Owners: none

fix(@schematics/angular): Remove unnecessary code.
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
Owners: none

feat(@angular-devkit/schematics): support collection extension
  packages/angular_devkit/schematics/collection-schema.json
  packages/angular_devkit/schematics/src/engine/collection.ts
  packages/angular_devkit/schematics/src/engine/engine.ts
  packages/angular_devkit/schematics/src/engine/interface.ts
  packages/angular_devkit/schematics/tools/fallback-engine-host.ts
  packages/angular_devkit/schematics/tools/file-system-engine-host-base.ts
  packages/angular_devkit/schematics/tools/file-system-engine-host_spec.ts
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-basic-string/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-basic/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-circular-deep/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-circular-middle/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-circular-multiple/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-circular/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-deep/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-multiple/collection.json
  tests/@angular_devkit/schematics/tools/file-system-engine-host/extends-replace/collection.json
Owners: @hansl

feat(@schematics/angular): use tasks to install/init applications
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics/testing/schematic-test-runner.ts
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/schema.d.ts
  packages/schematics/angular/application/schema.json
Owners: @hansl

Update main.ts to match styleguide
  packages/schematics/angular/application/files/__sourcedir__/main.ts
Owners: none

feat(@angular-devkit/build-optimizer): add rollup plugin
  packages/angular_devkit/build_optimizer/BUILD
  packages/angular_devkit/build_optimizer/src/build-optimizer/rollup-plugin.ts
Owners: @filipesilva

fix(@schematics/angular): mark link-cli option as not visible
  packages/schematics/angular/application/schema.json
Owners: none

release: patch
  .monorepo.json
Owners: none

ci: publish on master branch or version branch
  .circleci/config.yml
Owners: none

refactor(@angular-devkit/schematics): reorder package.json scripts
  packages/schematics/angular/application/files/package.json
Owners: none

refactor: set minimum node version to 8.9
  .nvmrc
  package.json
  packages/angular_devkit/schematics_cli/package.json
Owners: none

build: update node types to support 8.9
  package-lock.json
  package.json
  packages/angular_devkit/core/node/resolve.ts
Owners: none

ci: update for node 8
  .appveyor.yml
  .travis.yml
Owners: none

build: Update to latest bazel rules
  WORKSPACE
  packages/angular_devkit/build_optimizer/BUILD
  packages/angular_devkit/core/BUILD
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics_cli/BUILD
  tools/BUILD
  tools/bazel.rc
  tools/defaults.bzl
  tsconfig.json
Owners: @filipesilva, @hansl

feat(@angular-devkit/core): allow trailing commas in loose JSON
  packages/angular_devkit/core/src/json/parser.ts
  packages/angular_devkit/core/src/json/parser_spec.ts
Owners: none

feat(@angular-devkit/schematics): use the Virtual FS Host in Schematics
  .editorconfig
  packages/angular_devkit/core/src/virtual-fs/host/index.ts
  packages/angular_devkit/core/src/virtual-fs/host/memory.ts
  packages/angular_devkit/core/src/virtual-fs/host/memory_spec.ts
  packages/angular_devkit/core/src/virtual-fs/host/sync.ts
  packages/angular_devkit/core/src/virtual-fs/host/test.ts
  packages/angular_devkit/core/src/virtual-fs/host/test_spec.ts
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics/src/index.ts
  packages/angular_devkit/schematics/src/rules/base_spec.ts
  packages/angular_devkit/schematics/src/sink/dryrun.ts
  packages/angular_devkit/schematics/src/sink/dryrun_spec.ts
  packages/angular_devkit/schematics/src/sink/filesystem.ts
  packages/angular_devkit/schematics/src/sink/filesystem_spec.ts
  packages/angular_devkit/schematics/src/sink/host.ts
  packages/angular_devkit/schematics/src/sink/host_spec.ts
  packages/angular_devkit/schematics/src/tree/filesystem.ts
  packages/angular_devkit/schematics/src/tree/filesystem_spec.ts
  packages/angular_devkit/schematics/src/tree/memory-host.ts
  packages/angular_devkit/schematics/src/tree/node-host.ts
  packages/angular_devkit/schematics/src/tree/virtual_spec.ts
  packages/angular_devkit/schematics/tools/export-ref_spec.ts
  packages/angular_devkit/schematics/tools/file-system-engine-host-base.ts
  packages/angular_devkit/schematics/tools/file-system-host.ts
  packages/angular_devkit/schematics/tools/index.ts
  packages/angular_devkit/schematics/tools/node-modules-test-engine-host.ts
  packages/angular_devkit/schematics_cli/bin/schematics.ts
  packages/schematics/package_update/utility/npm_spec.ts
Owners: @hansl

fix(schematics/angular): ignore yarn-error.log
  packages/schematics/angular/application/files/__dot__gitignore
Owners: none

Allow users to have no //:node_modules
  packages/angular_devkit/build_optimizer/BUILD
Owners: @filipesilva

feat(@angular-devkit/schematics-cli): clean up command-line error messages
  packages/angular_devkit/schematics_cli/bin/schematics.ts
Owners: none

build: update to newer rules_typescript
  WORKSPACE
Owners: none

refactor(@angular-devkit/core): update source-map to 0.7.1
  packages/angular_devkit/core/package.json
Owners: @hansl

refactor(@angular-devkit/build-optimizer): update source-map to 0.7.1
  package-lock.json
  package.json
  packages/angular_devkit/build_optimizer/package.json
  packages/angular_devkit/build_optimizer/src/build-optimizer/webpack-loader.ts
Owners: @filipesilva

fix(@angular-devkit/architect-cli): fix package location
  packages/angular_devkit/architect_cli/bin/architect.ts
  packages/angular_devkit/architect_cli/package.json
Owners: none

feat(@schematics/angular): upgrade types/node to 8.x
  packages/schematics/angular/application/files/package.json
Owners: none

feat(@schematics/angular): upgrade jasmine to 2.99, ts-node to 5.0 and protractor to 5.3.0
  packages/schematics/angular/application/files/package.json
Owners: none

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl
