Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

feat(@angular-devkit/build-optimizer): update TypeScript to 2.7
  packages/angular_devkit/build_optimizer/package.json
  packages/angular_devkit/build_optimizer/src/transforms/class-fold.ts
Owners: @filipesilva

Revert "upgrade jasmine to 2.99, ts-node to 5.0 and protractor to 5.3.0 (#448)"
  packages/schematics/angular/application/files/package.json
Owners: none

Revert "Revert "upgrade jasmine to 2.99, ts-node to 5.0 and protractor to 5.3.0 (#448)""
  packages/schematics/angular/application/files/package.json
Owners: none

build: compile with TS 2.7
  package-lock.json
  package.json
  scripts/patch-dependencies.ts
  scripts/patches/rxjs-ts27.patch
  scripts/patches/rxjs-typings.patch
  tsconfig.json
Owners: @hansl

refactor(@angular-devkit/schematics): reorder package.json scripts alphabetically
  packages/schematics/angular/application/files/package.json
Owners: none

ci: allow release scopes in commit messages outside of CI
  scripts/validate-commits.ts
Owners: @hansl

feat(@schematics/angular): strict option
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/application/files/tsconfig.json
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/application/schema.d.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/universal/index_spec.ts
Owners: none

feat(@schematics/angular): editor option
  packages/schematics/angular/application/files/__dot__vscode/settings.json
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/schema.d.ts
  packages/schematics/angular/application/schema.json
Owners: none

feat(@schematics/angular): http option for services
  packages/schematics/angular/service/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.service.spec.ts
  packages/schematics/angular/service/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.service.ts
  packages/schematics/angular/service/index_spec.ts
  packages/schematics/angular/service/schema.d.ts
  packages/schematics/angular/service/schema.json
Owners: none

feat(@angular-devkit/core): add a clean function
  packages/angular_devkit/core/src/utils/array.ts
  packages/angular_devkit/core/src/utils/index.ts
Owners: none

feat(@angular-devkit/schematics): add a run schematic task
  packages/angular_devkit/schematics/tasks/node/index.ts
  packages/angular_devkit/schematics/tasks/run-schematic/executor.ts
  packages/angular_devkit/schematics/tasks/run-schematic/init-task.ts
  packages/angular_devkit/schematics/tasks/run-schematic/options.ts
Owners: none

feat(@angular-devkit/schematics): add a workflow class that simplifies the whole thing
  packages/angular_devkit/schematics/BUILD
  packages/angular_devkit/schematics/src/engine/engine.ts
  packages/angular_devkit/schematics/src/engine/interface.ts
  packages/angular_devkit/schematics/src/exception/exception.ts
  packages/angular_devkit/schematics/src/index.ts
  packages/angular_devkit/schematics/src/tree/filesystem.ts
  packages/angular_devkit/schematics/src/workflow/index.ts
  packages/angular_devkit/schematics/src/workflow/interface.ts
  packages/angular_devkit/schematics/tools/index.ts
  packages/angular_devkit/schematics/tools/workflow/node-workflow.ts
  packages/angular_devkit/schematics_cli/bin/schematics.ts
Owners: @hansl

feat(@angular-devkit/architect): expose builder schema
  packages/angular_devkit/architect/src/architect.ts
Owners: none

feat(@schematics/angular): Update aliases to all use single character
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/component/schema.json
  packages/schematics/angular/universal/schema.json
Owners: none

refactor(@angular-devkit/build-webpack): update deps for webpack 4
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
Owners: none

test: Add ability to run external schematics
  packages/angular_devkit/schematics/testing/schematic-test-runner.ts
Owners: none

fix(@angular-devkit/core): remove functions that have no files from caller array
  packages/angular_devkit/core/node/resolve.ts
Owners: none

build: add CI-specific Bazel settings
  .circleci/bazel.rc
  .circleci/config.yml
Owners: none

fix(@angular-devkit/schematics): fix order of commit for sinks
  packages/angular_devkit/schematics/src/sink/dryrun.ts
  packages/angular_devkit/schematics/src/sink/host.ts
Owners: none

feat(@angular-devkit/schematics): export callRule and callSource
  packages/angular_devkit/schematics/src/index.ts
Owners: none

feat(@angular-devkit/build-webpack): update internal plugins for webpack 4
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/bundle-budget.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/karma-webpack-failure-cb.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/suppress-entry-chunks-webpack-plugin.ts
Owners: none

refactor(@angular-devkit/build-webpack): use mini-css-extract-plugin
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/styles.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/cleancss-webpack-plugin.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/raw-css-loader.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/webpack.ts
Owners: none

fix(@angular-devkit/schematics): Allow test runner to run private schematics.
  packages/angular_devkit/schematics/testing/schematic-test-runner.ts
Owners: none

build: Simplify the serialize script
  scripts/serialize.ts
Owners: @hansl

feat(@angular-devkit/architect): expose builder schema
  packages/angular_devkit/architect/src/architect.ts
  packages/angular_devkit/architect/src/builder.ts
Owners: none

style: fix linting issues
  packages/angular_devkit/build_ng_packagr/package.json
  packages/angular_devkit/build_ng_packagr/src/build/index.ts
  packages/angular_devkit/build_ng_packagr/src/build/index_spec.ts
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Owners: none

feat(@schematics/angular): add library scaffolding
  packages/schematics/angular/collection.json
  packages/schematics/angular/library/files/__entryFile__.ts
  packages/schematics/angular/library/files/package.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/library/schema.d.ts
  packages/schematics/angular/library/schema.json
Owners: @hansl, @Brocco

feat(@angular-devkit/build-ng-packagr): add build architect for ng packagr
  packages/angular_devkit/build_ng_packagr/README.md
  packages/angular_devkit/build_ng_packagr/builders.json
  packages/angular_devkit/build_ng_packagr/package.json
  packages/angular_devkit/build_ng_packagr/src/build/index.ts
  packages/angular_devkit/build_ng_packagr/src/build/index_spec.ts
  packages/angular_devkit/build_ng_packagr/src/build/schema.json
  packages/angular_devkit/build_ng_packagr/src/index.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/.angular-cli.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/.editorconfig
  tests/@angular_devkit/build_ng_packagr/ng-packaged/.gitignore
  tests/@angular_devkit/build_ng_packagr/ng-packaged/README.md
  tests/@angular_devkit/build_ng_packagr/ng-packaged/e2e/app.e2e-spec.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/e2e/app.po.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/e2e/tsconfig.e2e.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/karma.conf.js
  tests/@angular_devkit/build_ng_packagr/ng-packaged/libs/one/index.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/libs/one/package.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/package.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/protractor.conf.js
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/app/app.component.css
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/app/app.component.html
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/app/app.component.spec.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/app/app.component.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/app/app.module.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/assets/.gitkeep
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/environments/environment.prod.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/environments/environment.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/favicon.ico
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/index.html
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/main.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/polyfills.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/styles.css
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/test.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/tsconfig.app.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/tsconfig.spec.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/src/typings.d.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/tsconfig.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/tslint.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/yarn.lock
Owners: none

build: add ng-packagr dep, update monorepo and readme
  .monorepo.json
  README.md
  package-lock.json
  package.json
Owners: none

fix(@schematics/angular): ensure forward slashes in library command
  packages/schematics/angular/library/index.ts
Owners: none

fix(@angular-devkit/schematics): renaming then creating same file fixed
  packages/angular_devkit/schematics/src/sink/host.ts
  packages/angular_devkit/schematics/src/sink/host_spec.ts
Owners: none

ci: add unused variable lint check
  tslint.json
Owners: none

feat(@angular-devkit/build-webpack): support less version 3.x
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
Owners: none

ci: update webdriver manually
  .appveyor.yml
  .circleci/config.yml
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/test/utils/default-workspaces.ts
  tests/@angular_devkit/build_optimizer/webpack/aio-app/package.json
  tests/@angular_devkit/build_optimizer/webpack/simple-app/package.json
Owners: none

fix(@angular-devkit/build-webpack): workaround ES2015 minifier inlining defect
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/common.ts
Owners: none

feat(@angular-devkit/core): add experimental workspace scope
  packages/angular_devkit/core/src/experimental.ts
  packages/angular_devkit/core/src/index.ts
  packages/angular_devkit/core/src/workspace/index.ts
  packages/angular_devkit/core/src/workspace/workspace-schema.json
  packages/angular_devkit/core/src/workspace/workspace.ts
  packages/angular_devkit/core/src/workspace/workspace_spec.ts
  tests/@angular_devkit/core/workspace/angular-workspace.json
Owners: none

refactor(@angular-devkit/build-webpack): use dash-case for builder names
  packages/angular_devkit/build_webpack/builders.json
  packages/angular_devkit/build_webpack/test/utils/default-workspaces.ts
Owners: none

feat(@schematics/angular): use workspace for architect options
  packages/schematics/angular/application/files/__dot__angular-cli.json
  packages/schematics/angular/application/files/__dot__angular.json
  packages/schematics/angular/application/files/karma.conf.js
  packages/schematics/angular/universal/index_spec.ts
Owners: none

refactor: use workspace relative paths everywhere in architect
  packages/angular_devkit/architect/src/architect.ts
  packages/angular_devkit/architect/src/architect_spec.ts
  packages/angular_devkit/architect/src/builder.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/build-options.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/browser.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/common.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/styles.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/test.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/typescript.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/utils.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/karma.ts
  packages/angular_devkit/build_webpack/src/browser/index.ts
  packages/angular_devkit/build_webpack/src/browser/schema.json
  packages/angular_devkit/build_webpack/src/dev-server/index.ts
  packages/angular_devkit/build_webpack/src/extract-i18n/index.ts
  packages/angular_devkit/build_webpack/src/karma/index.ts
  packages/angular_devkit/build_webpack/src/protractor/index.ts
  packages/angular_devkit/build_webpack/src/tslint/index.ts
  packages/angular_devkit/build_webpack/test/browser/assets_spec_large.ts
  packages/angular_devkit/build_webpack/test/browser/i18n_spec_large.ts
  packages/angular_devkit/build_webpack/test/browser/lazy-module_spec_large.ts
  packages/angular_devkit/build_webpack/test/browser/scripts-array_spec_large.ts
  packages/angular_devkit/build_webpack/test/browser/styles_spec_large.ts
  packages/angular_devkit/build_webpack/test/browser/works_spec_large.ts
  packages/angular_devkit/build_webpack/test/dev-server/proxy_spec_large.ts
  packages/angular_devkit/build_webpack/test/karma/code-coverage_spec_large.ts
  packages/angular_devkit/build_webpack/test/tslint/works_spec_large.ts
  packages/angular_devkit/build_webpack/test/utils/default-workspaces.ts
  packages/angular_devkit/core/src/workspace/workspace.ts
  packages/angular_devkit/core/src/workspace/workspace_spec.ts
Owners: none

feat(@angular-devkit/core): add workspace.listProjectNames()
  packages/angular_devkit/core/src/workspace/workspace.ts
  packages/angular_devkit/core/src/workspace/workspace_spec.ts
Owners: none

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl
