Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

feat(@angular-devkit/schematics): split out schematics-cli
  .monorepo.json
  README.md
  packages/angular_devkit/schematics/README.md
  packages/angular_devkit/schematics_cli/BUILD
  packages/angular_devkit/schematics_cli/bin/schematics.ts
  packages/angular_devkit/schematics_cli/package.json
Owners: @hansl

feat(@schematics/angular): use new zone-testing import from zone.js 0.8.19
  packages/schematics/angular/application/files/__sourcedir__/test.ts
  packages/schematics/angular/application/files/package.json
Owners: none

docs(@angular-devkit/schematics): fix broken link to schematics cli
  packages/angular_devkit/schematics/README.md
Owners: @hansl

refactor(@schematics/angular): remove obsolete logic for Karma start delay
  packages/schematics/angular/application/files/__sourcedir__/test.ts
Owners: none

build: update source-map dependency.
  package-lock.json
  package.json
  packages/angular_devkit/schematics/tools/file-system-engine-host-base.ts
Owners: none

feat(@schematics/angular): update tslint to 5.9.1
  packages/schematics/angular/application/files/package.json
Owners: none

feat(@schematics/angular): update jasmine to 2.8.x
  packages/schematics/angular/application/files/package.json
Owners: none

feat(@schematics/angular): update karma to 2.0.0
  packages/schematics/angular/application/files/package.json
Owners: none

fix(@angular-devkit/schematics): use correct additionalProperties schema property
  packages/angular_devkit/schematics/collection-schema.json
Owners: @hansl

feat(@angular-devkit/core): export string utils as a scoped namespace
  packages/angular_devkit/core/src/utils/index.ts
  packages/schematics/angular/utility/find-module.ts
Owners: none

refactor(@schematics/angular): fix alphabetized imports
  packages/angular_devkit/core/src/utils/index.ts
  packages/schematics/angular/utility/find-module.ts
Owners: none

refactor(@schematics/schematics): import string utils from core
  packages/schematics/schematics/blank/factory.ts
  packages/schematics/schematics/schematic/factory.ts
  scripts/serialize.ts
Owners: @hansl

refactor: remove deprecated typeof-compare
  packages/schematics/angular/application/files/tslint.json
Owners: none

fix(@angular-devkit/build-optimizer): limit ignore test to safe transformers
  packages/angular_devkit/build_optimizer/src/build-optimizer/build-optimizer.ts
Owners: none

refactor: Correct additional lettable operator
  packages/angular_devkit/schematics/tools/file-system-engine-host-base.ts
Owners: none

fix(@angular-devkit/schematics): support existing CLI versions
  packages/angular_devkit/schematics/src/sink/filesystem.ts
Owners: none

build: Release artifacts
  .monorepo.json
  package-lock.json
Owners: none

release: artifacts
  .monorepo.json
Owners: none

refactor(@schematics/angular): import string utils from angular-devkit/core
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/class/index.ts
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/enum/index.ts
  packages/schematics/angular/guard/index.ts
  packages/schematics/angular/interface/index.ts
  packages/schematics/angular/module/index.ts
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/service/index.ts
  packages/schematics/angular/universal/index.ts
Owners: none

refactor(@schematics/angular): Import dasherize from core
  packages/schematics/angular/utility/find-module.ts
Owners: none

feat(@angular-devkit/core): export string utils as a scoped namespace
  packages/angular_devkit/core/src/utils/index.ts
  packages/schematics/angular/utility/find-module.ts
Owners: none

refactor(@schematics/schematics): import string utils from core
  packages/schematics/schematics/blank/factory.ts
  packages/schematics/schematics/schematic/factory.ts
  scripts/serialize.ts
Owners: @hansl

refactor(@schematics/angular): import string utils from angular-devkit/core
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/class/index.ts
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/enum/index.ts
  packages/schematics/angular/guard/index.ts
  packages/schematics/angular/interface/index.ts
  packages/schematics/angular/module/index.ts
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/service/index.ts
  packages/schematics/angular/universal/index.ts
Owners: none

refactor(@schematics/angular): fix alphabetized imports
  packages/angular_devkit/core/src/utils/index.ts
  packages/schematics/angular/utility/find-module.ts
Owners: none

refactor(@schematics/angular): Alphabetized imports
  packages/schematics/angular/utility/find-module.ts
Owners: none

refactor(@angular-devkit/core): expose string utils as a scoped namespace
  packages/angular_devkit/core/src/utils/index.ts
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/class/index.ts
  packages/schematics/angular/component/index.ts
  packages/schematics/angular/directive/index.ts
  packages/schematics/angular/enum/index.ts
  packages/schematics/angular/guard/index.ts
  packages/schematics/angular/interface/index.ts
  packages/schematics/angular/module/index.ts
  packages/schematics/angular/pipe/index.ts
  packages/schematics/angular/service/index.ts
  packages/schematics/angular/strings.ts
  packages/schematics/angular/universal/index.ts
  packages/schematics/angular/utility/find-module.ts
  packages/schematics/schematics/blank/factory.ts
  packages/schematics/schematics/schematic/factory.ts
  scripts/serialize.ts
Owners: @hansl, @Brocco

feat(@angular-devkit/schematics-cli): add flag to print the schematic schema
  packages/angular_devkit/schematics_cli/bin/schematics.ts
Owners: none

feat(@angular-devkit/schematics-cli): add flag to print the schematic schema
  packages/angular_devkit/schematics_cli/bin/schematics.ts
Owners: none

docs: add schematics-cli package to supported commit scopes
  CONTRIBUTING.md
Owners: none

feat(@schematics/angular): upgrade to ng 5.2.0 and typescript 2.6.x
  packages/schematics/angular/application/files/package.json
Owners: none

feat(@schematics/angular): upgrade ts-node to 4.1.0
  packages/schematics/angular/application/files/package.json
Owners: none

fix(@angular-devkit/schematics-cli): cleanup schematics split
  bin/schematics
Owners: none

build: cleanup package dependencies
  packages/angular_devkit/build_optimizer/package.json
  packages/angular_devkit/core/package.json
  packages/angular_devkit/schematics/package.json
  packages/angular_devkit/schematics_cli/package.json
  packages/schematics/angular/package.json
  packages/schematics/package-update/package.json
  packages/schematics/schematics/package.json
Owners: @filipesilva, @hansl, @Brocco

feat(@schematics/angular): strict TypeScript
  packages/schematics/angular/application/files/tsconfig.json
Owners: none

revert: revert back to ts 2.5.3 because of angular/angular#21591
  packages/schematics/angular/application/files/package.json
Owners: none

fix - reswitch /core as a dependency and not peer
  packages/schematics/schematics/package.json
Owners: @hansl

feat(@angular-devkit/core): add basic priority queue
  packages/angular_devkit/core/src/utils/index.ts
  packages/angular_devkit/core/src/utils/priority-queue.ts
  packages/angular_devkit/core/src/utils/priority-queue_spec.ts
Owners: none

feat(@angular-devkit/schematics): add npm link task
  packages/angular_devkit/schematics/tasks/index.ts
  packages/angular_devkit/schematics/tasks/node-package/executor.ts
  packages/angular_devkit/schematics/tasks/node-package/link-task.ts
  packages/angular_devkit/schematics/tasks/node-package/options.ts
Owners: none

feat(@schematics/schematics): install packages in blank schematic
  packages/schematics/schematics/blank/factory.ts
Owners: none

feat(@angular-devkit/schematics): add npm install task
  packages/angular_devkit/schematics/tasks/index.ts
  packages/angular_devkit/schematics/tasks/node-package/executor.ts
  packages/angular_devkit/schematics/tasks/node-package/install-task.ts
  packages/angular_devkit/schematics/tasks/node-package/options.ts
  packages/angular_devkit/schematics/tasks/node/index.ts
  tsconfig.json
Owners: none

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl
