Repository angular/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hansl, @filipesilva, @Brocco

.github/CODEOWNERS:

packages/_/*                                @hansl
packages/angular_devkit/build_optimizer/*   @filipesilva
packages/angular_devkit/core/*              @hansl
packages/angular_devkit/schematics/*        @hansl
packages/schematics/angular/*               @hansl @Brocco
packages/schematics/schematics/*            @hansl
rules/*                                     @hansl
scripts/*                                   @hansl

fix(@angular-devkit/build-webpack): use basename for index path
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/browser.ts
Owners: none

fix(@schematics/angular): Fix typo in workspace generation
  packages/schematics/angular/application/index.ts
Owners: none

refactor(@angular-devkit/build-webpack): update autoprefixer to v8.1
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
Owners: none

feat(@schematics/angular): add a default browserslist file
  packages/angular_devkit/build_webpack/test/browser/styles_spec_large.ts
  packages/schematics/angular/application/files/browserslist
  tests/@angular_devkit/build_webpack/hello-world-app/browserslist
Owners: none

fix(@schematics/angular): use correct asset input
  packages/schematics/angular/application/index.ts
Owners: none

fix(@angular-devkit/build-webpack): use basename on fallback as well
  packages/angular_devkit/build_webpack/src/dev-server/index.ts
Owners: none

fix(@angular-devkit/build-webpack): always build after delete dir
  packages/angular_devkit/build_webpack/src/browser/index.ts
Owners: none

fix(@schematics/angular): fix environment file path
  packages/schematics/angular/application/index.ts
Owners: none

feat(@schematics/angular): add linting to library targets
  packages/angular_devkit/build_ng_packagr/src/build/index_spec_large.ts
  packages/schematics/angular/library/files/__projectRoot__/tsconfig.lint.json
  packages/schematics/angular/library/index.ts
  tests/@angular_devkit/build_ng_packagr/ng-packaged/angular.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/projects/lib/tsconfig.lint.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/tslint.json
Owners: none

feat(@angular-devkit/build-webpack): re-enable `HtmlWebpackPlugin`
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/browser.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/plugins/index-html-webpack-plugin.ts
  packages/angular_devkit/build_webpack/test/browser/styles_spec_large.ts
Owners: none

feat(@schematics/angular): add back library tsconfig paths
  packages/schematics/angular/library/files/__projectRoot__/ng-package.prod.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/library/schema.d.ts
  packages/schematics/angular/library/schema.json
  tests/@angular_devkit/build_ng_packagr/ng-packaged/projects/lib/ng-package.json
Owners: none

fix(@schematics/angular): update minimum ng-packager version
  package-lock.json
  package.json
  packages/schematics/angular/library/files/__projectRoot__/ng-package.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
Owners: none

fix(@schematics/angular): remove empty fields in workspace
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/e2e/index.ts
  packages/schematics/angular/workspace/files/angular.json
Owners: none

fix(@schematics/angular): Correct name parse/validation for lib and app
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/schema.json
Owners: none

build: use rxjs@5.5.8 as minimum
  package-lock.json
  package.json
  packages/angular_devkit/architect/package.json
  packages/angular_devkit/architect/test/package.json
  packages/angular_devkit/architect_cli/package.json
  packages/angular_devkit/build_ng_packagr/package.json
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/core/package.json
  packages/angular_devkit/schematics/package.json
  packages/angular_devkit/schematics_cli/package.json
  packages/schematics/angular/utility/latest-versions.ts
  packages/schematics/package_update/package.json
  packages/schematics/update/package.json
  scripts/patch-dependencies.ts
  scripts/patches/rxjs-ts27.patch
  tests/@angular_devkit/build_optimizer/webpack/aio-app/package.json
  tests/@angular_devkit/build_optimizer/webpack/simple-app/package.json
  tests/@angular_devkit/build_webpack/hello-world-app/package.json
Owners: @hansl

fix(@schematics/angular): add build-ng-packagr when generating library
  packages/schematics/angular/library/index.ts
Owners: none

feat(@angular-devkit/build-webpack): re-enable bundle budgets
  packages/angular_devkit/build_webpack/src/browser/index.ts
  packages/angular_devkit/build_webpack/src/browser/schema.json
  packages/angular_devkit/build_webpack/test/browser/bundle-budgets_spec_large.ts
Owners: none

feat(@ngtools/webpack): Allows to keep the decorators in AOT production as an option.
  packages/ngtools/webpack/src/angular_compiler_plugin.ts
Owners: none

refactor(@angular-devkit/build-webpack): remove common-tags dependency
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
  packages/angular_devkit/build_webpack/src/angular-cli-files/lib/base-href-webpack/base-href-webpack-plugin_spec.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/models/webpack-configs/typescript.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/utilities/service-worker/index.ts
  packages/angular_devkit/build_webpack/src/angular-cli-files/utilities/stats.ts
Owners: none

fix(@angular-devkit/architect): also resolve builders locally
  packages/angular_devkit/architect/src/architect.ts
Owners: none

refactor(@angular-devkit/build-webpack): update dev-server to 3.1 stable
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
Owners: none

test: update Angular versions
  package-lock.json
  package.json
Owners: none

fix(@ngtools/webpack): fix TS peerdep ranges
  packages/ngtools/webpack/package.json
Owners: none

ci: add missing bootstrap peerdeps
  package-lock.json
  package.json
Owners: none

ci: add missing angular/material peerdeps
  package-lock.json
  package.json
Owners: none

fix(@angular-devkit/build-webpack): add missing istanbul dependencies
  packages/angular_devkit/build_webpack/package.json
Owners: none

refactor: Move service worker into a private schematic
  packages/schematics/angular/application/files/__dot__angular-cli.json
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/collection.json
  packages/schematics/angular/service-worker/files/ngsw-config.json
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/service-worker/schema.d.ts
  packages/schematics/angular/service-worker/schema.json
Owners: @hansl, @Brocco

feat(@schematics/angular): Add schematic for PWA
  .monorepo.json
  README.md
  packages/angular/pwa/collection.json
  packages/angular/pwa/package.json
  packages/angular/pwa/pwa/files/assets/icons/icon-128x128.png
  packages/angular/pwa/pwa/files/assets/icons/icon-144x144.png
  packages/angular/pwa/pwa/files/assets/icons/icon-152x152.png
  packages/angular/pwa/pwa/files/assets/icons/icon-192x192.png
  packages/angular/pwa/pwa/files/assets/icons/icon-384x384.png
  packages/angular/pwa/pwa/files/assets/icons/icon-512x512.png
  packages/angular/pwa/pwa/files/assets/icons/icon-72x72.png
  packages/angular/pwa/pwa/files/assets/icons/icon-96x96.png
  packages/angular/pwa/pwa/files/assets/manifest.json
  packages/angular/pwa/pwa/index.ts
  packages/angular/pwa/pwa/index_spec.ts
  packages/angular/pwa/pwa/schema.d.ts
  packages/angular/pwa/pwa/schema.json
  packages/angular/pwa/utility/config.ts
  packages/angular_devkit/core/src/workspace/workspace-schema.ts
  packages/schematics/angular/app-shell/index.ts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/app-shell/schema.d.ts
  packages/schematics/angular/app-shell/schema.json
  packages/schematics/angular/application/files/__dot__angular-cli.json
  packages/schematics/angular/application/files/package.json
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/service-worker/schema.d.ts
  packages/schematics/angular/universal/files/__tsconfigFileName__.json
  packages/schematics/angular/universal/files/src/__main@stripTsExtension__.ts
  packages/schematics/angular/universal/files/src/app/__rootModuleFileName__
  packages/schematics/angular/universal/index.ts
  packages/schematics/angular/universal/index_spec.ts
  packages/schematics/angular/universal/schema.d.ts
  packages/schematics/angular/universal/schema.json
  packages/schematics/angular/utility/ng-ast-utils.ts
Owners: none

fix(@angular-devkit/build-webpack): update istanbul-instrumenter-loader
  package-lock.json
  package.json
  packages/angular_devkit/build_webpack/package.json
Owners: none

fix(@angular-devkit/build-webpack): only open browser on first build
  packages/angular_devkit/build_webpack/src/dev-server/index.ts
Owners: none

fix(@schematics/angular): add builders when running schematics
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/application/index_spec.ts
  packages/schematics/angular/application/schema.d.ts
  packages/schematics/angular/application/schema.json
  packages/schematics/angular/class/index_spec.ts
  packages/schematics/angular/component/index_spec.ts
  packages/schematics/angular/directive/index_spec.ts
  packages/schematics/angular/enum/index_spec.ts
  packages/schematics/angular/guard/index_spec.ts
  packages/schematics/angular/interface/index_spec.ts
  packages/schematics/angular/library/index.ts
  packages/schematics/angular/library/index_spec.ts
  packages/schematics/angular/library/schema.json
  packages/schematics/angular/module/index_spec.ts
  packages/schematics/angular/ng-new/index.ts
  packages/schematics/angular/pipe/index_spec.ts
  packages/schematics/angular/service/index_spec.ts
  packages/schematics/angular/utility/latest-versions.ts
Owners: none

test: fix missing property on application opts
  packages/schematics/angular/app-shell/index_spec.ts
  packages/schematics/angular/service-worker/index_spec.ts
  packages/schematics/angular/universal/index_spec.ts
Owners: none

feat(@schematics/angular): Add schematic for ng udpate migrations
  packages/schematics/angular/migrations/migration-collection.json
  packages/schematics/angular/migrations/update-6/index.ts
  packages/schematics/angular/migrations/update-6/index_spec.ts
Owners: none

ci: remove broken snapshot url
  .monorepo.json
Owners: none

fix(@schematics/angular): Remove workspace messages
  packages/schematics/angular/application/index.ts
  packages/schematics/angular/e2e/index.ts
  packages/schematics/angular/library/index.ts
Owners: none

refactor: polyfill symbol-observable in utilities
  package-lock.json
  package.json
  packages/angular_devkit/architect_cli/bin/architect.ts
  packages/angular_devkit/architect_cli/package.json
  packages/angular_devkit/core/src/utils/lang.ts
  packages/angular_devkit/schematics_cli/bin/schematics.ts
  packages/angular_devkit/schematics_cli/package.json
Owners: none

build: remove old rxjs dependency patching
  package.json
  scripts/patch-dependencies.ts
  scripts/patches/rxjs-typings.patch
Owners: @hansl

test: update angular packages to 6.0.0-rc.0
  package-lock.json
  package.json
  packages/angular_devkit/build_angular/test/browser/styles_spec_large.ts
  tests/@angular_devkit/build_angular/hello-world-app/package.json
Owners: none

fix(@schematics/angular): Add file generation for service worker schematic
  packages/schematics/angular/service-worker/index.ts
  packages/schematics/angular/service-worker/index_spec.ts
Owners: none

Updating README.md links
  README.md
Owners: none
